
Marcos/bootSTMarcos.Rda
.Rhistory
Marcos/covid-applicationMarcos.R
Marcos/fitST.Rda
Marcos/marcos.html
Marcos/marcos.R
Marcos/marcos.Rmd
Marcos/plotBrazilbw.pdf
Marcos/plotChilebw.pdf
Marcos/plotItalybw.pdf
Marcos/plotPerubw.pdf
Marcos/plotUnited Kingdombw.pdf
Marcos/plotUSbw.pdf
